<div id="<%= dom_id pay_later %>">
  <p>
    <strong>Total outstanding:</strong>
    <%= pay_later.total_outstanding %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= pay_later.is_active %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= pay_later.driver_id %>
  </p>

</div>
