<h1>Editing pay later</h1>

<%= render "form", pay_later: @pay_later %>

<br>

<div>
  <%= link_to "Show this pay later", @pay_later %> |
  <%= link_to "Back to pay laters", pay_laters_path %>
</div>
