<h1>Editing card detail</h1>

<%= render "form", card_detail: @card_detail %>

<br>

<div>
  <%= link_to "Show this card detail", @card_detail %> |
  <%= link_to "Back to card details", card_details_path %>
</div>
